<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter field values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid target date</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter description with minimum length of 5 chars</div>

    <form (ngSubmit)="!todoForm.invalid && updateTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" #description="ngModel" [(ngModel)]="todo.description" 
            class="form-control" required minlength="5"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="targetDate">Target Date</label>
            <input type="date" name="targetDate" #targetDate="ngModel"
            [ngModel]="todo.targetDate | date:'yyyy-MM-dd'"
            (ngModelChange)="todo.targetDate = $event" class="form-control" required/>
        </fieldset>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>